***Yelp Data Analysis_code file_hidden***

In [ ]:
import pandas as pd
import numpy as np
import json
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
%cd /content/gdrive/MyDrive

In [ ]:
#Business
business_df = pd.read_json("", lines=True)

In [ ]:
#Checkin
checkin_df = pd.read_json("", lines=True)

In [ ]:
#Review (Too big so load 200000 rows for EDA)
review = []
with open('') as data_file:
    for i, line in enumerate(data_file):
        review.append(json.loads(line))
        if i+1 >= 200000:
            break
review_df = pd.DataFrame(review)

In [ ]:
#Tip
tip_df = pd.read_json("", lines=True)

In [ ]:
#User (Too big so load 200000 rows for EDA)
data = []
with open('') as data_file:
    for i, line in enumerate(data_file):
        data.append(json.loads(line))
        if i+1 >= 200000:
            break
user_df = pd.DataFrame(data)

***EDA for Business_df***

In [ ]:
business_df.head(5)

In [ ]:
business_df.shape

In [ ]:
business_df.isna().sum()

In [ ]:
business_df.dtypes

In [ ]:
print("Number of Different cities:", len(business_df["city"].unique()))
print("Number of Different states:", len(business_df["state"].unique()))
print("Range of latitude: " ,business_df["latitude"].min(), business_df["latitude"].max())
print("Range of longitude: " ,business_df["longitude"].min(), business_df["longitude"].max())
print("Range of stars: ", business_df["stars"].min(), business_df["stars"].max())
print("Range of the number of reviews: ", business_df["review_count"].min(), business_df["review_count"].max())
print("is_open: ", business_df["is_open"].unique())

In [ ]:
att = list(enumerate(business_df["attributes"]))
atts = []
for i in range(len(att)):
  atts.append(att[i][1])
att_df = pd.json_normalize(atts)
att_df.shape

In [ ]:
att_df = pd.concat([business_df[["business_id"]], att_df], axis = 1)
att_df["ID"] = range(len(att_df))

In [ ]:
att_df.head(5)

In [ ]:
#Business Categories
def str_list(string):
  if pd.isna(string):
    return []
  else:
    return string.split(", ")

cat = business_df["categories"].apply(str_list)
cat_list = []
for i in range(len(cat)):
  if len(cat[i]) == 0:
    cat_list = cat_list
  else:
    for j in range(len(cat[i])):
      cat_list.append(cat[i][j])

In [ ]:
pd.Series(cat_list).value_counts()

In [ ]:
#category_df
cat_df = business_df[["business_id", "categories"]]
category_df = (cat_df.assign(categories=cat_df['categories'].str.split(','))
       .explode('categories', ignore_index=True))
category_df.head(10)

In [ ]:
category_df["ID"] = range(len(category_df))
category_df.head(10)

In [ ]:
#Create hour table
hour = list(enumerate(business_df["hours"]))
hour_list = []
for i in range(len(hour)):
  hour_list.append(hour[i][1])
hour_df = pd.json_normalize(hour_list)
hour_df.head(10)

In [ ]:
hours_df = pd.concat([business_df[["business_id"]], hour_df], axis = 1)
hours_df["ID"] = range(len(hours_df))

In [ ]:
business_df = business_df.drop(["attributes", "categories", "hours"], axis = 1)

In [ ]:
business_df.head(5)

***Business Table***


Description

***EDA for checkin***

In [ ]:
checkin_df.head(10)

In [ ]:
checkin_df.shape

In [ ]:
checkin_df.isna().sum()

In [ ]:
checkin_df["date"][1]

In [ ]:
c_df = checkin_df.copy()
c_df["date"] = c_df["date"].apply(str_list)
c_df["date_len"] = c_df["date"].apply(len)
c_df.head(10)

In [ ]:
print(min(c_df["date_len"]), max(c_df["date_len"]))

In [ ]:
checkin_df = (checkin_df.assign(date=checkin_df['date'].str.split(','))
       .explode('date', ignore_index=True))

In [ ]:
checkin_df = checkin_df[:300000]

In [ ]:
checkin_df["ID"] = range(len(checkin_df))
checkin_df.head(5)

***Checkin Table***

Description

***EDA for Tip Table***

In [ ]:
tip_df.head(5)

In [ ]:
tip_df.shape

In [ ]:
tip_df.dtypes

In [ ]:
tip_df.isna().sum()

In [ ]:
len(tip_df["business_id"].unique())

In [ ]:
print(min(tip_df["date"]))
print(max(tip_df["date"]))

In [ ]:
tip_df["compliment_count"].unique()

In [ ]:
tip_df["ID"] = range(len(tip_df))

***Tip Table***

Description

***EDA for User Table***

In [ ]:
user_df.dtypes

In [ ]:
user_df.shape

In [ ]:
#seperate compliment df
comp_df = pd.concat([user_df.iloc[:, 0 ], user_df.iloc[:, 11:21]] , axis = 1)
comp_df

***Compliment Summary***
1-to-1 w/ user table by user_id

In [ ]:
#Maximum values
comp_df.apply(max)

In [ ]:
#Minimum values
comp_df.apply(min)

In [ ]:
#NA?
comp_df.isna().sum()

In [ ]:
#User_df w/o compliment
user_df2 = user_df.iloc[ :, 0:10]
user_df2.head(5)

In [ ]:
print("Range of review count", min(user_df2["review_count"]), max(user_df2["review_count"]))
print("Range of yelping_since", min(user_df2["yelping_since"]), max(user_df2["yelping_since"]))
print("Range of useful", min(user_df2["useful"]), max(user_df2["useful"]))
print("Range of funny", min(user_df2["funny"]), max(user_df2["funny"]))
print("Range of cool", min(user_df2["cool"]), max(user_df2["cool"]))
print("Range of fans", min(user_df2["fans"]), max(user_df2["fans"]))

In [ ]:
elite_df = user_df2[['user_id', 'elite']]
elite_df = (elite_df.assign(elite=elite_df['elite'].str.split(','))
       .explode('elite', ignore_index=True))
elite_df["ID"] = range(len(elite_df))
elite_df.head(10)

***User Table***

Description

In [ ]:
friends_df = user_df2[["user_id", "friends"]]
friends_df = (friends_df.assign(friends = friends_df["friends"].str.split(",")).explode("friends", ignore_index = True))

In [ ]:
#Too big to upload
friends_df = friends_df[ :300000]
friends_df["ID"] = range(len(friends_df))

In [ ]:
user_df3 = user_df2.drop("friends", axis = 1)
user_df3 = user_df3.drop("elite", axis = 1)

Installing Packages and Creating Engine

In [ ]:
from sqlalchemy import create_engine
#!pip install PyMySql
import pymysql
import sqlalchemy

In [ ]:
username = 'B02' # Your team name
password = 'B02password'
host = 'testproject.mysql.database.azure.com'
database = 'B02'  # Your team name

In [ ]:
connection_string = f"mysql+pymysql://{username}:{password}@{host}/{database}"

ssl_args = {
    'ssl_ca': 'path_to/ca-cert.pem',
    'ssl_cert': 'path_to/client-cert.pem',
    'ssl_key': 'path_to/client-key.pem'
}

engine = create_engine(
    connection_string,
    connect_args={'ssl': ssl_args})

In [ ]:
#User
#user_df3.to_sql(name = "user", con = engine, if_exists='replace', index=True, chunksize=10000)

In [ ]:
#Friends
#friends_df.to_sql(name = "friend", con = engine, if_exists='replace', index=True, chunksize=10000)

In [ ]:
#Checkin
#checkin_df.to_sql(name = "checkin", con = engine, if_exists='replace', index=True, chunksize=20000)

In [ ]:
#Business
#business_df.to_sql(name = "business", con = engine, if_exists='replace', index=True, chunksize=10000)

In [ ]:
#Tip
#tip_df.to_sql(name = "tip", con = engine, if_exists='replace', index=True, chunksize=10000)

In [ ]:
#Review
#review_df.to_sql(name = "review", con = engine, if_exists='replace', index=True, chunksize=10000)

In [ ]:
#Hours
#hours_df.to_sql(name = "hours", con = engine, if_exists='replace', index=True, chunksize=10000)

In [ ]:
#Attributes
#att_df.to_sql(name = "attributes",  con = engine, if_exists='replace', index=True, chunksize=10000)

In [ ]:
#Categories
#category_df.to_sql(name = "categories",  con = engine, if_exists='replace', index=True, chunksize=10000)

In [ ]:
#Elite_year
#elite_df.to_sql(name = "elite",  con = engine, if_exists='replace', index=True, chunksize=10000)

In [ ]:
#!pip install mysqlclient
#!pip install mysql-connector-python
import mysql.connector

In [ ]:
# Define the group/team name (e.g., "A01"). This can be changed to any other team name as needed.
group_name = ""

# Establish a connection to the database using the given group_name.
conn = mysql.connector.connect(
    host= ,
    user=group_name,
    password= ,
    # Using the database corresponding to the group name.
    database=group_name
)

# Create a cursor object to interact with the database.
cursor = conn.cursor()

In [ ]:
%reload_ext sql

In [ ]:
%sql mysql://B02:"<Host>"

In [ ]:
%sql show databases

In [ ]:
%%sql
use b02;
show tables;

**Set Primary Keys**

In [ ]:
#Business Table
%%sql
USE b02;
ALTER TABLE business
DROP PRIMARY KEY,
DROP COLUMN my_row_id,
MODIFY COLUMN business_id varchar(22) NOT NULL,
ADD PRIMARY KEY(business_id);

In [ ]:
#Attributes Table
%%sql
USE b02;
ALTER TABLE attributes
DROP PRIMARY KEY,
DROP COLUMN my_row_id,
MODIFY COLUMN ID INT(6) NOT NULL,
ADD PRIMARY KEY(ID);

In [ ]:
#Categories Table
%%sql
USE b02;
ALTER TABLE categories
DROP PRIMARY KEY,
DROP COLUMN my_row_id,
MODIFY COLUMN ID INT(6) NOT NULL,
ADD PRIMARY KEY(ID);

In [ ]:
#checkin Table
%%sql
USE b02;
ALTER TABLE checkin
DROP PRIMARY KEY,
DROP COLUMN my_row_id,
MODIFY COLUMN ID INT(6) NOT NULL,
ADD PRIMARY KEY(ID);

In [ ]:
#Elite Table
%%sql
USE b02;
ALTER TABLE elite
DROP PRIMARY KEY,
DROP COLUMN my_row_id,
MODIFY COLUMN ID INT(6) NOT NULL,
ADD PRIMARY KEY(ID);

In [ ]:
#Friend Table
%%sql
USE b02;
ALTER TABLE friend
DROP PRIMARY KEY,
DROP COLUMN my_row_id,
MODIFY COLUMN ID INT(6) NOT NULL,
ADD PRIMARY KEY(ID);

In [ ]:
#hours Table
%%sql
USE b02;
ALTER TABLE hours
DROP PRIMARY KEY,
DROP COLUMN my_row_id,
MODIFY COLUMN ID INT(6) NOT NULL,
ADD PRIMARY KEY(ID);

In [ ]:
#review table
%%sql

USE b02;
ALTER TABLE review
DROP PRIMARY KEY,
DROP COLUMN my_row_id,
MODIFY COLUMN review_id VARCHAR(22) NOT NULL,
ADD PRIMARY KEY(review_id);

In [ ]:
#Tip Table
%%sql

USE b02;
ALTER TABLE tip
DROP PRIMARY KEY,
DROP COLUMN my_row_id,
MODIFY COLUMN ID INT(6) NOT NULL,
ADD PRIMARY KEY(ID);

In [ ]:
#User Table
%%sql

USE b02;
ALTER TABLE user
DROP PRIMARY KEY,
DROP COLUMN my_row_id,
MODIFY COLUMN user_id VARCHAR(22) NOT NULL,
ADD PRIMARY KEY(user_id);

***Questions & Queries***

**1. Which cities have the highest number of reviews and what are their average ratings? This can be helpful to determine what location to set the businesses.**

In [ ]:
%%sql

SELECT b.city, COUNT(r.stars) AS rating_count, AVG(r.stars) AS average_rating
FROM business b JOIN review r ON b.business_id = r.business_id
GROUP BY b.city
ORDER BY rating_count DESC
LIMIT 5;

**2. From the previous query, we chose to observe Nashville as it has the lowest rating among cities with many ratings. What is the average rating of businesses in the city by postal code? Here we can find which area in Nashville to focus on with our business.**

In [ ]:
%%sql
SELECT b.postal_code, AVG(r.stars) AS average_rating
FROM business b JOIN review r ON b.business_id = r.business_id
WHERE b.city = 'nashville'
GROUP BY state, postal_code;

**3. Identify businesses that have no reviews in Nashville, which can help businesses and their owners understand which businesses need more attention**

In [ ]:
%%sql
SELECT b.name AS business_name
FROM business b
LEFT JOIN review r ON b.business_id = r.business_id
WHERE r.review_id IS NULL AND b.city = 'nashville'
LIMIT 10;

**4. Find users with a low average star rating that are usually more critical.***

In [ ]:
%%sql

SELECT u.user_id, u.name, AVG(r.stars) AS user_rating, COUNT(r.review_id) AS rating_count
FROM review AS r
JOIN user AS u ON r.user_id = u.user_id
GROUP BY u.user_id
ORDER BY user_rating DESC
LIMIT 10;

**5. This query will help find businesses with the most diverse set of reviewers in different categories. This can help businesses look at individual sentiment to get a more accurate understanding with what is going well and not so well with the public.**

In [ ]:
%%sql

SELECT b.name AS business_name, COUNT(r.review_id) AS review_count, COUNT(DISTINCT u.name) AS unique_reviewers
FROM business AS b
JOIN review AS r ON b.business_id = r.business_id
JOIN user AS u ON r.user_id = u.user_id
JOIN categories AS c ON b.business_id = c.ID
GROUP BY business_name
HAVING unique_reviewers > 5
ORDER BY review_count DESC
LIMIT 10;

**6. Find business areas with a high number of reviews, most active areas that business may choose to avoid if expanding or want to be bold and gain the attention of critics.**

In [ ]:
%%sql

SELECT b.postal_code AS business_location, COUNT(r.review_id) AS review_count
FROM business AS b
JOIN review AS r ON b.business_id = r.business_id
GROUP BY business_location
ORDER BY review_count DESC
LIMIT 10;

***7. This will help find reliable top reviewers who are maybe bloggers by professions and may have a lot of followers which might help us in advertising our business.***

In [ ]:
%%sql
SELECT u.name AS reviewer_name, u.review_count, u.useful
FROM user u
ORDER BY u.review_count DESC,u.useful DESC
LIMIT 10;

**8. What is the number by business categories in Nashville? This can be helpful to observe what type of business should be chosen.**

In [ ]:
%%sql
SELECT c.categories, COUNT(*) AS categories_count
FROM business AS b JOIN categories AS c ON b.business_id = c.business_id
WHERE b.city = "nashville"
GROUP BY c.categories
ORDER BY categories_count DESC
LIMIT 10;

**9. Among businesses in Nashville, how many of them open for the weekend and how many of them do not? This will used to determine whether it is effective to operate business during the weekend or not.**

In [ ]:
%%sql
SELECT COUNT(*)
FROM business b JOIN hours h ON b.business_id = h.business_id
WHERE b.city = "nashville" AND
Sunday IS NULL AND Saturday IS NULL

In [ ]:
%%sql
SELECT COUNT(*)
FROM business b JOIN hours h ON b.business_id = h.business_id
WHERE b.city = "nashville" AND
Sunday IS NOT NULL AND Saturday IS NOT NULL

**10. This query finds the restaurants that had the worst opinion of the most "cool" users which is a trait for being fair. Businesses can take a look at how these restaurants managed to dissatisfy these people and avoid those traits.**

In [ ]:
%%sql
SELECT b.name, r.stars AS user_rating, u.cool AS user_coolness
FROM review AS r JOIN business AS b ON r.business_id = b.business_id
JOIN user AS u ON r.user_id = u.user_id
WHERE u.cool > 5
AND r.stars < 2
AND b.city = "nashville"
ORDER BY user_coolness DESC
LIMIT 10;